<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/cv.jpg" alt="cv profile" />
<p>
  My name is Mesut Can Yazkan. I was born in Istanbul, Turkey and I am 22 years
  old. I started my Front-end Developer journey with a career change. I have
  developed myself a lot on this path and I continue to do so. I have proven my
  own success and knowledge with continuous certifications and I continue to do
  so. This job is like a dream world for me. I think there is so much to think
  about and see. For this reason, I am extremely excited to develop myself in
  this sector and experience each position.
</p>

<div class="specialClass">
  <div class="skills">
    <h2>Skills</h2>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>JavaScript (ES6+)</li>
      <li>JQuery</li>
      <li>React</li>
      <li>EJS</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>TailwindCSS</li>
      <li>Bootstrap</li>
      <li>Git</li>
      <li>Version Control</li>
    </ul>
  </div>

  <div class="hobbies">
    <h2>Hobbies</h2>
    <ul>
      <li>Playing the guitar</li>
      <li>Playing computer games</li>
      <li>Writing songs</li>
      <li>Conducting research on software</li>
    </ul>
  </div>
</div>
<%- include("partials/footer.ejs") %>
