<%- include("partials/header.ejs") %>

<h1>Hello from my Portfolyo</h1>

<p>First of all, thank you for visiting my page, my friend.</p>
<p>
  I will talk about myself a little bit on this page, I hope you won't get
  bored.
</p>

<p>Shall we start? ☺️</p>

<form action="/about" method="GET">
  <input type="submit" value="About me" />
</form>

<%- include("partials/footer.ejs") %>
